In [9]:
import mysql.connector

No ha dado ningún error, por lo que funciona correctamente. Probaremos creando una conexión a una base de datos.

In [10]:
mydb = mysql.connector.connect(
    host="localhost",
    user="admin",
    password="123"
)

print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000021790124100>

In [11]:
# create database
mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE mydatabase")

In [12]:
# show databases
mycursor.execute("SHOW DATABASES")
for x in mycursor:
    print(x)

('information_schema',)
('mydatabase',)
('mysql',)
('performance_schema',)
('sys',)

In [13]:
# create table
mydb = mysql.connector.connect(
    host="localhost",
    user="admin",
    password="123",
    database="mydatabase"
)

mycursor = mydb.cursor(buffered=True) # Usando "buffered = True" evita problemas al reutilizar el cursor

# Sin primary key
mycursor.execute("CREATE TABLE customers (name VARCHAR(255), address VARCHAR(255))")

# Con primary key
#mycursor.execute("CREATE TABLE customers (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), address VARCHAR(255))")

In [14]:
# show tables
mycursor.execute("SHOW TABLES")
for x in mycursor:
    print(x)

('customers',)

In [15]:
# Añadiremos una primary key, pero como existe la tabla, usaremos alter
mycursor.execute("ALTER TABLE customers ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY")

In [16]:
# Insertaremos un dato
sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = ("John", "Highway 21")
mycursor.execute(sql, val)
mydb.commit()
print(mycursor.rowcount, "record inserted.")

1 record inserted.

In [17]:
# Insertaremos varios datos
sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = [
    ('Peter', 'Lowstreet 4'),
    ('Amy', 'Apple st 652'),
    ('Hannah', 'Mountain 21'),
    ('Michael', 'Valley 345'),
    ('Sandy', 'Ocean blvd 2'),
    ('Betty', 'Green Grass 1'),
    ('Richard', 'Sky st 331'),
    ('Susan', 'One way 98'),
    ('Vicky', 'Yellow Garden 2'),
    ('Ben', 'Park Lane 38'),
    ('William', 'Central st 954'),
    ('Chuck', 'Main Road 989'),
    ('Viola', 'Sideway 1633')
]
mycursor.executemany(sql, val)
mydb.commit()
print(mycursor.rowcount, "was inserted.")

13 was inserted.

In [18]:
sql = "insert into customers (name, address) values (%s, %s)"
val = ("Michelle", "Blue Village")
mycursor.execute(sql, val)
mydb.commit()
print("1 record inserted, ID:", mycursor.lastrowid)

1 record inserted, ID: 15

In [24]:
# Seleccionamos todos los datos
mycursor.execute("SELECT * FROM customers")
myresult = mycursor.fetchall()
for x in myresult:
    print(x)

('John', 'Highway 21', 1)
('Peter', 'Lowstreet 4', 2)
('Amy', 'Apple st 652', 3)
('Hannah', 'Mountain 21', 4)
('Michael', 'Valley 345', 5)
('Sandy', 'Ocean blvd 2', 6)
('Betty', 'Green Grass 1', 7)
('Richard', 'Sky st 331', 8)
('Susan', 'One way 98', 9)
('Vicky', 'Yellow Garden 2', 10)
('Ben', 'Park Lane 38', 11)
('William', 'Central st 954', 12)
('Chuck', 'Main Road 989', 13)
('Viola', 'Sideway 1633', 14)
('Michelle', 'Blue Village', 15)

In [20]:
# Seleccionamos las columnas deseadas
mycursor.execute("SELECT name, address FROM customers")
myresult = mycursor.fetchall()
for x in myresult:
    print(x)

('John', 'Highway 21')
('Peter', 'Lowstreet 4')
('Amy', 'Apple st 652')
('Hannah', 'Mountain 21')
('Michael', 'Valley 345')
('Sandy', 'Ocean blvd 2')
('Betty', 'Green Grass 1')
('Richard', 'Sky st 331')
('Susan', 'One way 98')
('Vicky', 'Yellow Garden 2')
('Ben', 'Park Lane 38')
('William', 'Central st 954')
('Chuck', 'Main Road 989')
('Viola', 'Sideway 1633')
('Michelle', 'Blue Village')

In [21]:
# Seleccionamos UN dato (el primero)
mycursor.execute("SELECT name FROM customers")
myresult = mycursor.fetchone()
print(myresult)

('John',)

In [22]:
# Seleccionamos un dato filtrando por una condición
mycursor.execute("SELECT * FROM customers WHERE address ='Park Lane 38'")
myresult = mycursor.fetchall()
for x in myresult:
    print(x)

('Ben', 'Park Lane 38', 11)

In [25]:
# Seleccionamos datos usando "comodines"
mycursor.execute("SELECT * FROM customers where address like '%way%'")
myresult = mycursor.fetchall()
for x in myresult:
    print(x)

('John', 'Highway 21', 1)
('Susan', 'One way 98', 9)
('Viola', 'Sideway 1633', 14)

In [27]:
# Podemos ordenar los resultados
sql = "SELECT * FROM customers ORDER BY name" # para ordenar de forma descendente: ORDER BY name DESC
mycursor.execute(sql)
myresult = mycursor.fetchall()
for x in myresult:
    print(x)

('Amy', 'Apple st 652', 3)
('Ben', 'Park Lane 38', 11)
('Betty', 'Green Grass 1', 7)
('Chuck', 'Main Road 989', 13)
('Hannah', 'Mountain 21', 4)
('John', 'Highway 21', 1)
('Michael', 'Valley 345', 5)
('Michelle', 'Blue Village', 15)
('Peter', 'Lowstreet 4', 2)
('Richard', 'Sky st 331', 8)
('Sandy', 'Ocean blvd 2', 6)
('Susan', 'One way 98', 9)
('Vicky', 'Yellow Garden 2', 10)
('Viola', 'Sideway 1633', 14)
('William', 'Central st 954', 12)

In [29]:
# Para borrar una fila
mycursor.execute("DELETE FROM customers WHERE address = 'Mountain 21'") # Si no especificamos el "WHERE", se borrará toda la tabla!!!
mydb.commit()
print(mycursor.rowcount, "record(s) deleted")

0 record(s) deleted

In [35]:
# Eliminaremos una tabla
sql = "DROP TABLE IF EXISTS customers" # Si sabemos seguro que existe: "DROP TABLE customers". Con IF EXISTS se evita el error
mycursor.execute(sql)
# show tables
mycursor.execute("SHOW TABLES")
for x in mycursor:
    print(x)

In [36]:
# Creamos la tabla de nuevo
mycursor.execute("CREATE TABLE customers (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), address VARCHAR(255))")
sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = [
    ('Peter', 'Lowstreet 4'),
    ('Amy', 'Apple st 652'),
    ('Hannah', 'Mountain 21'),
    ('Michael', 'Valley 345'),
    ('Sandy', 'Ocean blvd 2'),
    ('Betty', 'Green Grass 1'),
    ('Richard', 'Sky st 331'),
    ('Susan', 'One way 98'),
    ('Vicky', 'Yellow Garden 2'),
    ('Ben', 'Park Lane 38'),
    ('William', 'Central st 954'),
    ('Chuck', 'Main Road 989'),
    ('Viola', 'Sideway 1633')
]
mycursor.executemany(sql, val)
mydb.commit()
print(mycursor.rowcount, "was inserted.")

13 was inserted.

In [37]:
# Para modificar la tabla
sql = "UPDATE customers SET address = 'Canyon 123' WHERE address = 'Valley 345'" # Si no especificamos el "WHERE", se modificará toda la tabla!!!
mycursor.execute(sql)
mydb.commit()
print(mycursor.rowcount, "record(s) affected")

1 record(s) affected

In [41]:
# Para limitar el número de resultados devueltos
mycursor.execute("SELECT * FROM customers LIMIT 5")
myresult = mycursor.fetchall()
for x in myresult:
    print(x)

print('\n')

# o seleccionando desde donde se quiere empezar (en este caso desde el tercer registro)
mycursor.execute("SELECT * FROM customers LIMIT 5 OFFSET 2")
myresult = mycursor.fetchall()
for x in myresult:
    print(x)

(1, 'Peter', 'Lowstreet 4')
(2, 'Amy', 'Apple st 652')
(3, 'Hannah', 'Mountain 21')
(4, 'Michael', 'Canyon 123')
(5, 'Sandy', 'Ocean blvd 2')


(3, 'Hannah', 'Mountain 21')
(4, 'Michael', 'Canyon 123')
(5, 'Sandy', 'Ocean blvd 2')
(6, 'Betty', 'Green Grass 1')
(7, 'Richard', 'Sky st 331')