# S17 T02: Base de dades MySQL

## Nivell 1

### Exercici 1
- Crea una base de dades relacionals senzilla utilitzant MySQL(https://www.mysql.com/) i connecta-la a Python

In [1]:
# Importamos las librerías necesarias
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import mysql.connector

In [2]:
# Conexión a la base de datos
mydb = mysql.connector.connect(
    host="localhost",
    user="admin",
    password="123"
)
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000020966CCA070>

In [3]:
# Creamos una nueva base de datos "lientes"
mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE clientes")

In [4]:
# Conexión a la base de datos "clientes"
mydb = mysql.connector.connect(
    host="localhost",
    user="admin",
    password="123",
    database="clientes"
)
mycursor = mydb.cursor(buffered=True) # Para que no se guarde en memoria

# Creamos una tabla "clientes", con un identificativo (primary key), un nombre y una dirección
mycursor.execute("CREATE TABLE clientes (id INT AUTO_INCREMENT PRIMARY KEY, nombre VARCHAR(255), direccion VARCHAR(255))")

# Comprobamos que se ha creado correctamente
mycursor.execute("SHOW TABLES")
for x in mycursor:
    print(x)

('clientes',)

In [15]:
# Crearemos un diccionario con los datos de los clientes para insertarlos en la base de datos
clientes = [
    ("Juan", "Calle falsa 123"),
    ("Pedro", "Calle verdadera 456"),
    ("Ana", "Calle falsa 789"),
    ("Maria", "Calle verdadera 000"),
    ("Oscar", "Calle falsa 111"),
    ("Raquel", "Calle verdadera 222"),
    ("Jorge", "Calle falsa 333"),
    ("Javier", "Calle verdadera 444"),
    ("Juan", "Calle falsa 555")
]
sql = "INSERT INTO clientes (nombre, direccion) VALUES (%s, %s)"

mycursor.executemany(sql, clientes)
mydb.commit() # Para que se guarde en la base de datos
print(f'Se han insertado {mycursor.rowcount} registros.')

Se han insertado 9 registros.

In [19]:
# Comprobamos que se han insertado correctamente, chequeando los dos primeros registros
sql = "SELECT * FROM clientes LIMIT 2"
mycursor.execute(sql)
result = mycursor.fetchall()
for x in result:
    print(x)

(1, 'Juan', 'Calle falsa 123')
(2, 'Pedro', 'Calle verdadera 456')

Parece que todo está OK! :)

## Nivell 2

### Exercici 2
- Mostra que pots carregar algunes consultes senzilles a un Pandas Dataframe.

## Nivell 3

### Exercici 3
- Genera algun gràfic que resumeixi les dades